BACKEND_SERVER_PORT=
BACKEND_SPRING_PROFILES_ACTIVE=

BACKEND_PRIVATE_KEY=

BACKEND_PUBLIC_KEY=

BACKEND_DB_USERNAME=
BACKEND_DB_PASSWORD=
BACKEND_DB_NAME=
BACKEND_DB_HOST=

CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_HEADERS=
CORS_ALLOWED_METHODS=

REACT_APP_BACKEND_API_URL=

BACKEND_APP_API_URL=

FRONTEND_SERVER_PORT=

NOTIFICATION_SERVER_PORT=

SHARED_KAFKA_BOOTSTRAP_SERVERS=
NOTIFICATION_KAFKA_CONSUMER_GROUP=

SHARED_KAFKA_TOPIC_NOTIFICATIONS=
SHARED_KAFKA_TOPIC_NOTIFICATIONS_DLT=

NOTIFICATION_SMTP_HOST=
NOTIFICATION_SMTP_PORT=

NOTIFICATION_SMTP_USERNAME=
NOTIFICATION_SMTP_PASSWORD=

NOTIFICATION_SMTP_AUTH=
NOTIFICATION_SMTP_STARTTLS=

NOTIFICATION_MAIL_FROM=
